/* Die Bäsics */
/* Die Bäsics */
/* Die Bäsics */
/* Die Bäsics */
/* Die Bäsics */
/* Die Bäsics */
html {
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-user-select: none;  
    user-select: none;
    height: 100%;
    width: 100%;

}

body {
    border: 0;
    margin: 0;
    padding: 0;

    background-color: #2E2E2E;
    color: white;
    font-family: 'Bebas Neue', sans-serif !important;
    font-family: 'Koulen', sans-serif;
    font-weight: 400 !important;
    font-size: 30px;

   
    display: flex;
    justify-content: center;
    align-items: center;

    flex: 1;
    height: 100%;
    width: 100%;
}

.i1 {
    color: #fff; 
    background-color: black;
    border-radius: 15px;
    display: flex;
    justify-content: center; 
    align-items: center; 

    box-shadow: 4px 4px 0 2px rgba(0, 0, 0, 0.25);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 20px;
    border-radius: 15px;

  }

  .i2 {
    color: #fff; 
    background-color: black;
    border-radius: 15px;
    display: flex;
    justify-content: center; 
    align-items: center; 

    box-shadow: 4px 4px 0 2px rgba(0, 0, 0, 0.25);
    padding: 5px;
    margin: 20px;
    border-radius: 15px;

  }

  .a {
    background: linear-gradient(91deg, #E74D4D -5.92%, #FF0048 34.17%, #9E00FF 64.97%, #3985DF 105.64%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }