/* Die Bäsics */
/* Die Bäsics */
/* Die Bäsics */
/* Die Bäsics */
/* Die Bäsics */
/* Die Bäsics */
html {
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-user-select: none;  
    user-select: none;
    height: 100%;
    width: 100%;

}
body {
    border: 0;
    margin: 0;
    padding: 0;

    background-color: #2E2E2E;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Koulen', cursive;
    font-size: 30px;

    display: flex;
    flex-direction: column;
    align-items: center; 

    flex: 1;
    height: 100%;
    width: 100%;
}

.a {
    color: white;
    text-decoration: none;

}

.span {
    margin: 0px;
}



/* NAVbar */
/* NAVbar */
/* NAVbar */
/* NAVbar */
/* NAVbar */
/* NAVbar */
.WWW {
    background: linear-gradient(to right, #E74D4D, #FF0048, #9E00FF, #3985DF);
    -webkit-background-clip: text; 
    background-clip: text;
    color: transparent;
    z-index: 3;
}

.bigbigcon {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.bigcon {
    display: flex;
}

.subcon {
    display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.con {
    background-color: black;
    border-radius: 15px;
    width: 300px;
    height: 60px;
    margin: 10px;
    margin-left: 40px;
    margin-right: 40px;


    display: flex;
    justify-content: center; 
    align-items: center; 


    box-shadow: 4px 4px 0 2px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s ease;
}


.con2 {
    width: 350px;
    height: 60px;
    position: relative; 
    z-index: 2; 
}


.con4 {
    width: 350px;
    height: 60px;
    position: absolute;

    z-index: 1; 

    margin: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 20px !important;

    top: 0;

    box-shadow: 4px 4px 0 2px rgba(0, 0, 0, 0) !important;
    animation: slideDown 0.5s ease forwards; 
}



/* footer */
/* footer */
/* footer */
/* footer */
/* footer */
/* footer */
.footer {
    width: 100%;
    height: auto;
    margin-top: 40px;
    margin-bottom: 20px;


    position: sticky;
    

    display: flex;
    justify-content: center; 
    align-items: center; 

    display: flex;
    flex-direction: column;
}

.fon {
    background-color: black;
    border-radius: 15px;
    display: flex;
    justify-content: center; 
    align-items: center; 

    box-shadow: 4px 4px 0 2px rgba(0, 0, 0, 0.25);

  transition: transform 0.3s ease;
}
.fon1 {
    width: 370px;
    height: 45px;
    margin-bottom: 10px;
    margin-left: 40px;
    margin-right: 40px;
}
.fon2 {
    width: 180px;
    height: 45px;
    margin-right: 5px;}
.fon3 {
    width: 180px;
    height: 45px;
    margin-left: 5px;
}

.FWWW {
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Koulen', cursive;
    font-size: 20px;
  }


.submidfon {
    display: flex;
    justify-content: center; 
    align-items: center; 

}
.midfon {
    display: flex;
  justify-content: center; 
  align-items: center;
}


svg{
    fill: white;
    color: white;
}










/* Impressum */
/* Impressum */
/* Impressum */
/* Impressum */
/* Impressum */
/* Impressum */

.frame {
margin-top: 40px;
margin-bottom: 40px;
}


.impressum {
    background-color: black;
    color: white;
    border-radius: 15px;
    height: auto;
    width: 1000px;
    font-size: 20px;
    padding: 30px;

    text-align: justify;

    box-shadow: 4px 4px 0 2px rgba(0, 0, 0, 0.25);
  


    display: justify;
    justify-content: center;
    align-items: top;
}

.impressum-heading {
    font-size: 24px;
    font-weight: bold;
    background: linear-gradient(to right, #E74D4D, #FF0048, #9E00FF, #3985DF);
    -webkit-background-clip: text; 
    background-clip: text;
    color: transparent;
    display: inline-block; 
    margin: 0px;
}