@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");


html {
    background-color: #1E1E1E !important;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: 0px;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Koulen', cursive;
  }
  
  .bigcon {
    background-color: black;
    width: 600px;
    height: 715px;
    border-radius: 15px;
    box-shadow: 4px 4px 0 2px rgba(0, 0, 0, 0.25);
    transform: scale(1.2);

  }
  
  .valigngrey {
    display: flex;
    height: 70px;
    width: 100%;
  }
  
  .greycon {
    display: inline-block;
    background-color: #2E2E2E;
    border-radius: 7.5px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Koulen', cursive;
    font-size: 21px;

  }
  
  .con1 {
    width: 150px;
    height: 40px;
    margin-left: 15px;
    margin-right: 7.5px;
    display: flex  !important;
    justify-content: center  !important; /* Horizontally center */
    align-items: center !important; /* Vertically center */
  
  }
  
  .con2 {
    width: 240px;
    height: 40px;
    margin-left: 7.5px;
    margin-right: 7.5px;
  }
  
  .con3 {
    width: 150px;
    height: 40px;
    margin-left: 7.5px;
    margin-right: 15px;
    display: flex  !important;
    justify-content: center  !important; /* Horizontally center */
    align-items: center !important; /* Vertically center */
  }





  .imgcon {
    background-color: white;
    border-radius: 7.5px;
    width: 570px;
    height: 570px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0px;
    margin-bottom: 15px;
    overflow: hidden;
  }




  .centeralign {
    display: flex;
    justify-content: center;
    transform: scale(1.1);

  }


.inputfield {
    background-color: #2E2E2E;
    border-radius: 15px;
    width: 300px;
    height: 45px;
    margin-top: 0px;
    margin-bottom: 15px;
    z-index: 2;
    display: flex;

}

.incon {
    background-color: #464646;
    border-radius: 7.5px;
    width: 230px;
    height: 33px;
    margin: 6px;
    z-index: 3;

    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;

}

.realinput {
    color: #9C9C9C;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    width: 225px;
    height: 33px;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Koulen', cursive;
    font-size: 17px;
    padding-left: 5px
}


.submit-btn {
    display: inline-block;

    border: 0;
    border-radius: 7.5px;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Koulen', cursive;
    font-size: 17px;
    margin-top: 6px;
    margin-right: 10px !important;

    width: 50px;
    height: 33px;
    background-color: #2E2E2E;

}





.solution-text {
  display: flex  !important;
  justify-content: center  !important; /* Horizontally center */
  align-items: center !important; /* Vertically center */
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 40px;
  margin-left: 40px;

  width: 160px;
  height: 30px;
}


.brokenheart {
  margin-top: 3px;
  margin-bottom: 3px;
}

.h1{
  margin-left: 10px;
  margin-right: 6.5px;
}

.h2{
  margin-left: 6.5px;
  margin-right: 6.5px;
}

.h3{
  margin-left: 6.5px;
  margin-right: 10px;
}


.imgframe {
  width: 580px;
  height: 580px;
  overflow: hidden !important;
  position: relative; /* Ensure relative positioning for the container */
  border-radius: 7.5px;
  z-index: 3;

}

.uhrbild {
  border-radius: 7.5px !important;
}

input {
  outline-width: 0;
}

.p {
  text-align: center !important;
}

#textcon {
  width: 150px;
  height: 40px;
  z-index: 4px;
  margin: 0px;
  padding: 0px;
  display: flex  !important;
  justify-content: center  !important; /* Horizontally center */
  align-items: center !important; /* Vertically center */
}

#score-container {
  display: flex;
  width: 150px;
  height: 40px;
  z-index: 4px;
  margin: 0px;
  padding: 0px;
  display: flex  !important;
  justify-content: center  !important; /* Horizontally center */
  align-items: center !important; /* Vertically center */
}


.t1 {
  width: 58px;
  height: 40px;
  margin-left: 11px;
  margin-right: 0px;
  display: flex  !important;
  justify-content: center  !important; /* Horizontally center */
  align-items: center !important; /* Vertically center */
}

.t2 {
  width: 10px;
  height: 40px;
  margin-left: 0px;
  margin-right: 0px;
  display: flex  !important;
  justify-content: center  !important; /* Horizontally center */
  align-items: center !important; /* Vertically center */
}

.t3 {
  width: 58px;
  height: 40px;
  margin-left: 0px;
  margin-right: 0px;
  display: flex  !important;
  justify-content: center  !important; /* Horizontally center */
  align-items: center !important; /* Vertically center */
}

.t4 {
  width: 25px;
  height: 25px;
  margin-left: 5px;
  margin-right: 10px;
  display: flex  !important;
  justify-content: center  !important; /* Horizontally center */
  align-items: center !important; /* Vertically center */
}